global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'task-queue-monitor'

scrape_configs:
  - job_name: 'gateway'
    static_configs:
      - targets: ['gateway:5000']
    metrics_path: '/metrics'
    scrape_interval: 10s

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
